<div class='relative'>
  <%= image_tag 'mrorceanize.png' %>
  <p class='absolute top-10 left-60 italic text-xl bg-teal-200 rounded-full text-white p-3 md:text-3xl'>Mission of Orceanize</p>
</div>
<div class='mt-4 mb-3 container mx-auto px-8 '>
  <div class='border-solid border-2 bg-slate-100 p-2'>
    <p class='text-lg text-center'> 2016(平成28) 年1月に世界経済フォーラム (ダボス会議) が発表した報告書1)によると、<br>世界のプラスチック生産量が 1964〜2014 年の 50 年間で 20 倍以上に急増し、今後 20 年間でさらに倍増する見込みであること、毎年少なくとも 800 万 ton のプラスチックが海洋に流出し、BAU (business-as-usual) シナリオでは2050 年までには海洋中のプラスチック量が (重量ベースで) 魚の量を上回ると予想されており、国際的な関心が非常に高まっている</p>
  </div>
  <br>
  <div class='text-right text-gray-400 text-xs'>
    <p>抜粋 : <%= link_to '日本の海洋ごみ対策の現状と今後の課題', 'https://www.jstage.jst.go.jp/article/mcwmr/29/4/29_278/_pdf/-char/ja' %></p>
    <p>松﨑 裕司・佐藤 佳奈子</p>
  </div>
  <br>
  <div class='text-center'>
    <h1 class='text-3xl mt-10 mb-5'>What is Orceanize?</h1>
    <p>Orceanizeは作成した海ごみアートを投稿し、世界中の海を愛する人とシェアすることができるプラットフォームです。</p>
    <p>OCEAN(海) と ORGANIZE(構成、整える)を合わせて、海を綺麗な状態にみんなで協力して整えていこうという意味を込めて名付けました。 </p>
    <br>
    <h1 class='text-center text-3xl mt-10 mb-5'>For What?</h1>
    <p>上記論文の記載の通り、海ごみ問題は深刻であり予断を有さない状況です。<br>この問題の解決のためには私たち一人ひとりが当事者意識を持ち、行動に移すことが肝要ですが、一人きりでモチベーションを燃やし続けるのは難しいものです。</p>
    <br>
    <p>美しい海をずっと守っていくためのアプローチとして、一人で黙々とゴミ拾いをする方法よりも「自分で拾った海洋ゴミで作った海ごみアートをシェアできる場」があればどうか との考えからOrceanizeは生まれました。</p>
    <br>

    <h1 class='text-center text-3xl mt-10 mb-5'>For Whom?</h1>
    <p>海を愛するすべての人へ。</p>
  </div>
  <%= image_tag('nwnl.jpg') %>
</div>
