<div class='mt-4 mb-3 container mx-auto px-8 '>
  <h1 class='text-3xl mb-5'>外部リンク</h1>

  <%= link_to('https://www.instagram.com/umimorinchu_cati/?hl=ja') do %>
    <div class="flex items-center justify-center border-solid border-2 border-blue-400">
      <div class="w-1/3 flex justify-center items-center">
        <%= image_tag('umimorinchu.png', class: 'w-20 h-20 lg:w-40 lg:h-40') %>
      </div>
      <div class="w-2/3">
        <p>兵庫県を拠点にビーチクリーン、水中清掃、環境親子イベント、漁協様との食育イベントなども実施中されている団体様です。</p>
      </div>
    </div>
  <% end %>
</div>
