<main class='h-auto'>
  <div class='bg-blue-400 flex justify-center items-center'>
    <div class='text-sky-100 text-center'>
      <h1 class='text-4xl font-bold subpixel-antialiased'>足元から始まる、海ごみ問題。</h1>
      <p class='mt-8'>Orceanize(オーシャナイズ)は「海ごみアート」から海ごみ問題にアプローチ。</p>
      <p>自分だけの海ごみアートを、世界に向けて公開することができるプラットフォームです。</p>
    </div>
  </div>
  <%= image_tag 'wave.png'%>
</main>
