<header class=" bg-blue-400 ">
  <div class='flex justify-between'>

    <div class="flex items-center">
      <%= link_to root_path do %>
        <%= image_tag('sublogo.png', class: 'w-10 h-10 rounded-full ml-1 mt-2') %>
      <% end %>
      <div>
        <p class="text-xl text-sky-100 ml-2">Orceanize</p>
      </div>
    </div>

    <div class="flex justify-end items-center">
      <div class="mr-5 items-center text-sky-100">
        <%= current_user.nickname if logged_in? %>さん
      </div>

      <%= link_to('logOut', logout_path, class: 'mr-5 items-center text-sky-100', data: { turbo_method: :delete }) %>
    </div>
  </div>
</header>
