<footer class="h-16 bg-blue-900 mt-auto">
  <div>
    <%= link_to 'Orceanizeについて', about_orceanize_path %>
    <%= link_to 'プライバシーポリシー', privacy_policy_path %>
    <%= link_to '利用規約', terms_of_use_path %>
    <%= link_to '外部リンク', external_link_path %>
  </div>
</footer>
