<footer class="bg-blue-900 mt-auto">
  <div class="flex justify-center text-sky-100 text-sm lg:text-base px-0.5">
    <%= link_to 'TOP', logged_in? ? posts_path : root_path %>
    <p class="mx-2 text-gray-400">|</p>
    <%= link_to '外部リンク', external_link_path %>
    <p class="mx-2 text-gray-400">|</p>
    <%= link_to 'プライバシーポリシー', privacy_policy_path %>
    <p class="mx-2 text-gray-400">|</p>
    <%= link_to '利用規約', terms_of_use_path %>
  </div>
</footer>
