<div class="container mx-auto md:w-2/3 w-full mt-10 p-5">
  <h1 class="font-bold text-4xl"></h1>
  <div>
    <%= render "form", post: @post %>
  </div>
  <%= link_to "◀️", posts_path, class: "ml-2 rounded-full py-3 px-5 bg-gray-100 inline-block font-medium mt-10" %>
</div>
